/* Element Plus 主题变量覆盖 */
:root {
  /* 主色调 - Nihility 蓝 */
  --el-color-primary: #5585a9;
  --el-color-primary-light-3: #7ba0be;
  --el-color-primary-light-5: #96b3cc;
  --el-color-primary-light-7: #b1c7da;
  --el-color-primary-light-8: #c4d6e4;
  --el-color-primary-light-9: #d7e4ee;
  --el-color-primary-dark-2: #446c87;
}
